:root {
    --primary-color: #0077B6;
    --secondary-color: #CAF0F8;
    --accent1-color: #00b4d8;
    --accent2-color: #E1B703;
    --heading-font: "Montserrat", sans-serif;
    --body-font: "Open-sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: #005F80;
}

header,
main,
footer {
    width: 1200px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto;
    background-color: var(--accent2-color);
    padding-bottom: 10px;
    padding-top: 10px;
}

header img {
    border-color: #000000;
    border-width: 2px;
    padding-left: 10px;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    padding-top: 20px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 40px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #000000;
}

.action-call {
    text-align: center;
    margin: 30px 0;
}

.action-call .btn {
    display: inline-block;
    padding: 10px 20px;
    background: #0077b6;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.action-call p {
    font-size: 25px;
    font-weight: bold;
}

.offerings-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.offerings-grid img {
    width: 400px;
    height: auto;
}

.hero article {
    position: absolute;
    background-color: var(--accent2-color);
    bottom: 40px;
    right: 180px;
    text-align: center;
    width: 805px;
    opacity: 0.8;
    justify-content: center;
}

article p {
    color: #000000;
}

.hero article img {
    float: right;
    width: 125px;
}

section p {
    margin-left: -2px;
    margin-top: 0;
    margin-bottom: 0;
}

.history {
    text-align: center;
    padding: 2rem;
}

.history-grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 2rem;
    margin-top: 1rem;
}

.history-grid p {
    text-align: justify;
}

.history-grid img {
    width: 200px;
    height: auto;
    padding: 1rem;
    border-radius: 8px;
}

.adventure {
    text-align: center;
    padding: 2rem;
}

.adventure-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin: 1rem;
}

.adventure-grid img {
    width: 200px;
    height: auto;
}

footer {
    padding: 1rem 2rem;
    margin-top: 2rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
    justify-content: center;
}

footer a {
    text-decoration: none;
}

.socialmedia a {
    margin-left: 1rem;
}

.socialmedia img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.contact-info-map {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-top: 100px;
}

.h1 {
    position: relative;
    top: -120px;
    font-size: 20px;
}

.employee-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    gap: 30px;
    justify-content: center;
}

.employee-grid img {
    width: 250px;
    height: auto;
}

.employee-grid figcaption {
    margin-left: 90px;
}

form {
    display: grid;
    width: 800px;
    margin: 30px;
    margin-left: 80px;
    padding: 10px;
    border: 0.5px solid black;
    border-radius: 0;
    color: #000000;
    background-color: var(--accent2-color);
}

fieldset {
    display: grid;
    grid-gap: 10px;
    margin: 5px;
    border: 0.5px solid rgb(7, 6, 6);
    padding: 5px;
}

legend {
    padding: 5px;
    color: #004080;
    font-size: 22px;
}

input,
textarea {
    padding: 10px;
    font-size: 18px;
    margin: 10px;
    align-items: center;
}

input[type="radio"] {
    position: relative;
    width: 25px;
    height: 25px;
    right: 150px;
}

label {
    padding-right: 20px;
    padding-top: 10px;
    align-items: center;
    font-size: 18px;
}

button {
    display: block;
    margin: 10px;
    background-color: var(--primary-color);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 7px;
    max-width: 120px;
    margin: 0 auto;
}

button:hover {
    background-color: green;
}

.form-item {
    display: grid;
}

.column1 {
    grid-template-columns: 1fr 2fr 1fr;
    padding: 5px;
}

.column2 {
    grid-template-columns: 2fr 1fr;
}

.company-contact p {
    font-size: 25px;
    padding-top: 20px;
}

iframe {
    width: 600px;
    height: 450px;
    border: none;
}

input[type="checkbox"] {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    right: 150px;
}

.trip-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 2rem;
}

.trip-grid article {
    background: white;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
}

.trip-grid img {
    max-width: 300px;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    margin: 20px 0;
}

th, td {
    text-align: left;
    border: 1px solid #ddd;
    padding: 12px;
}

th {
    background-color: #333;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: var(--secondary-color);
}

tr:hover {
    background-color: #5ed1e8;
}

tr {
    font-size: 25px
}