:root {
    --background-color: rgb(40, 127, 30);
    --border: 1px solid black;
    --height: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1 {
    color: rgb(40, 127, 30);
    padding-bottom: 20px;
}

main {
    max-width: 900px;
}

main img {
    float: right;
    width: 150px;
    height: var(--height);
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding-bottom: 180px;
}

aside {
    position: relative;
    width: 700px;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 260px;
    color: black;
}

aside img {
    width: 200px;
    height: var(--height);
}

footer {
    margin-top: 30px;
    border-top: var(--border);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: var(--background-color);
    color: rgb(255, 255, 255);
}